<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta content='width=device-width, initial-scale=1' name='viewport'>
    <link rel="stylesheet" media="all" href="static/main.css">
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="static/app.js"></script>

    <title>FPGA Chess</title>
  </head>

  <body onload="init()">
    <h1>FPGA Chess</h1>

    <button onclick="reset()">Reset game</button>&nbsp;
    <label>White AI</label><input type="checkbox" id="whiteAI" onchange="updateConfig()">&nbsp;
    <label>Black AI</label><input type="checkbox" id="blackAI" onchange="updateConfig()" checked>&nbsp;
    <label>AI turn length (seconds): </label><input type="number" value="5" min="1" max="60" id="timeout" onchange="updateTimeout()">&nbsp;

    <h2 id="lastEvent"></h2>
    <h2 id="turn"></h2>
    <table class="board" id="board">
    </table>

  </body>

</html>
